.hero{
    background-image: url("src/img/bg (11).jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.mydiv{
    background-image: url("src/img/bg (7).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}